**<font size=6>Projet 9: Produisez une étude de marché avec Python</font>**  

**<font size=5>Partie 'Nettoyage'</font>**

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Partie-1---Importation-et-nettoyage-des-données" data-toc-modified-id="Partie-1---Importation-et-nettoyage-des-données-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Partie 1 - Importation et nettoyage des données</a></span><ul class="toc-item"><li><span><a href="#Données-Population" data-toc-modified-id="Données-Population-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Données Population</a></span><ul class="toc-item"><li><span><a href="#Lecture-du-fichier" data-toc-modified-id="Lecture-du-fichier-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Lecture du fichier</a></span></li><li><span><a href="#Nettoyage-du-fichier" data-toc-modified-id="Nettoyage-du-fichier-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Nettoyage du fichier</a></span><ul class="toc-item"><li><span><a href="#Créer-dataframe:popu_17" data-toc-modified-id="Créer-dataframe:popu_17-1.1.2.1"><span class="toc-item-num">1.1.2.1&nbsp;&nbsp;</span>Créer dataframe:popu_17</a></span></li><li><span><a href="#Créer-la-dataframe:-popu_evo-avec-le-nouvelle-variable" data-toc-modified-id="Créer-la-dataframe:-popu_evo-avec-le-nouvelle-variable-1.1.2.2"><span class="toc-item-num">1.1.2.2&nbsp;&nbsp;</span>Créer la dataframe: popu_evo avec le nouvelle variable</a></span></li></ul></li><li><span><a href="#Jointure-popu_17-et-popu_evo" data-toc-modified-id="Jointure-popu_17-et-popu_evo-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Jointure popu_17 et popu_evo</a></span></li></ul></li><li><span><a href="#Données-Disponibilité-alimentaire" data-toc-modified-id="Données-Disponibilité-alimentaire-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Données Disponibilité alimentaire</a></span><ul class="toc-item"><li><span><a href="#Lecture-du-fichier" data-toc-modified-id="Lecture-du-fichier-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Lecture du fichier</a></span></li><li><span><a href="#Nettoyage-du-fichier" data-toc-modified-id="Nettoyage-du-fichier-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Nettoyage du fichier</a></span><ul class="toc-item"><li><span><a href="#Créer-dataframe:-dispo_alim_total" data-toc-modified-id="Créer-dataframe:-dispo_alim_total-1.2.2.1"><span class="toc-item-num">1.2.2.1&nbsp;&nbsp;</span>Créer dataframe: dispo_alim_total</a></span></li><li><span><a href="#Créer-dataframe:-dispo_poulet" data-toc-modified-id="Créer-dataframe:-dispo_poulet-1.2.2.2"><span class="toc-item-num">1.2.2.2&nbsp;&nbsp;</span>Créer dataframe: dispo_poulet</a></span></li><li><span><a href="#Jointure-dispo_poulet-et-dispo_alim_total" data-toc-modified-id="Jointure-dispo_poulet-et-dispo_alim_total-1.2.2.3"><span class="toc-item-num">1.2.2.3&nbsp;&nbsp;</span>Jointure dispo_poulet et dispo_alim_total</a></span></li><li><span><a href="#Ajouter-les-variables" data-toc-modified-id="Ajouter-les-variables-1.2.2.4"><span class="toc-item-num">1.2.2.4&nbsp;&nbsp;</span>Ajouter les variables</a></span></li><li><span><a href="#Vérification-des-doublons" data-toc-modified-id="Vérification-des-doublons-1.2.2.5"><span class="toc-item-num">1.2.2.5&nbsp;&nbsp;</span>Vérification des doublons</a></span></li></ul></li></ul></li><li><span><a href="#Données-Stabilité-politique" data-toc-modified-id="Données-Stabilité-politique-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Données Stabilité politique</a></span><ul class="toc-item"><li><span><a href="#Lecture-du-fichier" data-toc-modified-id="Lecture-du-fichier-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Lecture du fichier</a></span></li><li><span><a href="#Nettoyage-du-fichier" data-toc-modified-id="Nettoyage-du-fichier-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>Nettoyage du fichier</a></span></li></ul></li><li><span><a href="#Données-PIB-par-habitant" data-toc-modified-id="Données-PIB-par-habitant-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Données PIB par habitant</a></span><ul class="toc-item"><li><span><a href="#Lecture-du-fichier" data-toc-modified-id="Lecture-du-fichier-1.4.1"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>Lecture du fichier</a></span></li><li><span><a href="#Nettoyage-du-fichier" data-toc-modified-id="Nettoyage-du-fichier-1.4.2"><span class="toc-item-num">1.4.2&nbsp;&nbsp;</span>Nettoyage du fichier</a></span></li></ul></li></ul></li><li><span><a href="#Parie-2---Jointures-les-4-dataframes" data-toc-modified-id="Parie-2---Jointures-les-4-dataframes-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Parie 2 - Jointures les 4 dataframes</a></span><ul class="toc-item"><li><span><a href="#Valeurs-manquantes" data-toc-modified-id="Valeurs-manquantes-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Valeurs manquantes</a></span></li></ul></li><li><span><a href="#Partie-4---Dataframe-finale" data-toc-modified-id="Partie-4---Dataframe-finale-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Partie 4 - Dataframe finale</a></span></li></ul></div>

# Partie 1 - Importation et nettoyage des données

In [ ]:
import pandas as pd
import numpy as np

## Données Population

### Lecture du fichier

In [626]:
#Importation des données 'Population'
population = pd.read_csv("D:/Open_work/P9/doc_origine/DAN-P9-data/Population_2000_2018.csv")
population.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,20779.953,X,Sources internationales sûres,NaN
1,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2001,2001,1000 personnes,21606.988,X,Sources internationales sûres,NaN
2,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2002,2002,1000 personnes,22600.770,X,Sources internationales sûres,NaN
3,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2003,2003,1000 personnes,23680.871,X,Sources internationales sûres,NaN
4,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2004,2004,1000 personnes,24726.684,X,Sources internationales sûres,NaN

In [627]:
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4411 entries, 0 to 4410
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            4411 non-null   object
 1   Domaine                 4411 non-null   object
 2   Code zone               4411 non-null   int64
 3   Zone                    4411 non-null   object
 4   Code Élément            4411 non-null   int64
 5   Élément                 4411 non-null   object
 6   Code Produit            4411 non-null   int64
 7   Produit                 4411 non-null   object
 8   Code année              4411 non-null   int64
 9   Année                   4411 non-null   int64
 10  Unité                   4411 non-null   object
 11  Valeur                  4411 non-null   float64
 12  Symbole                 4411 non-null   object
 13  Description du Symbole  4411 non-null   object
 14  Note                    258 non-null    object
dtypes: float64(1), int64(5), object(9)
memory usage: 517.0+ KB

In [628]:
population.describe()

,Code zone,Code Élément,Code Produit,Code année,Année,Valeur
count,4411.000000,4411.0,4411.0,4411.000000,4411.000000,4.411000e+03
mean,132.202902,511.0,3010.0,2009.068238,2009.068238,2.963004e+04
std,75.854840,0.0,0.0,5.481539,5.481539,1.238029e+05
min,1.000000,511.0,3010.0,2000.000000,2000.000000,7.850000e-01
25%,68.000000,511.0,3010.0,2004.000000,2004.000000,3.921890e+02
50%,132.000000,511.0,3010.0,2009.000000,2009.000000,4.764741e+03
75%,195.000000,511.0,3010.0,2014.000000,2014.000000,1.821548e+04
max,299.000000,511.0,3010.0,2018.000000,2018.000000,1.427648e+06

In [629]:
population.shape

(4411, 15)

### Nettoyage du fichier

In [630]:
# Changer l'unité de la valeur
population['Population'] = population['Valeur']*1000

In [631]:
# Changer la type des données
population = population.astype({'Population':int})

In [632]:
population.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note,Population
0,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,20779.953,X,Sources internationales sûres,NaN,20779953
1,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2001,2001,1000 personnes,21606.988,X,Sources internationales sûres,NaN,21606988
2,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2002,2002,1000 personnes,22600.770,X,Sources internationales sûres,NaN,22600770
3,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2003,2003,1000 personnes,23680.871,X,Sources internationales sûres,NaN,23680871
4,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2004,2004,1000 personnes,24726.684,X,Sources internationales sûres,NaN,24726684

In [633]:
# Sélection des colonnes utiles
population = population[['Zone', 'Année', 'Population']]
population.head()

          Zone  Année  Population
0  Afghanistan   2000    20779953
1  Afghanistan   2001    21606988
2  Afghanistan   2002    22600770
3  Afghanistan   2003    23680871
4  Afghanistan   2004    24726684

#### Créer dataframe:popu_17

In [634]:
# Sélection des données de l'année 2017
popu_17 = population[population['Année'] == 2017].reset_index(drop=True) 
popu_17

                                       Zone  Année  Population
0                               Afghanistan   2017    36296113
1                            Afrique du Sud   2017    57009756
2                                   Albanie   2017     2884169
3                                   Algérie   2017    41389189
4                                 Allemagne   2017    82658409
..                                      ...    ...         ...
231  Venezuela (République bolivarienne du)   2017    29402484
232                                Viet Nam   2017    94600648
233                                   Yémen   2017    27834819
234                                  Zambie   2017    16853599
235                                Zimbabwe   2017    14236595

[236 rows x 3 columns]

In [635]:
popu_17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Zone        236 non-null    object
 1   Année       236 non-null    int64
 2   Population  236 non-null    int32
dtypes: int32(1), int64(1), object(1)
memory usage: 4.7+ KB

#### Créer la dataframe: popu_evo avec le nouvelle variable

In [636]:
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4411 entries, 0 to 4410
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Zone        4411 non-null   object
 1   Année       4411 non-null   int64
 2   Population  4411 non-null   int32
dtypes: int32(1), int64(1), object(1)
memory usage: 86.3+ KB

In [637]:
# Changer le type des données
population = population.astype({'Année':str})

In [638]:
# Sélection des données de l'année 2017 et 2007
popu_1= population.loc[population['Année'].isin(['2007','2017'])].reset_index(drop=True)
popu_1.head()

             Zone Année  Population
0     Afghanistan  2007    27100536
1     Afghanistan  2017    36296113
2  Afrique du Sud  2007    49119759
3  Afrique du Sud  2017    57009756
4         Albanie  2007     3033998

In [639]:
#Pivot dataframe 
popu_evo = popu_1.pivot( index='Zone', columns='Année', values='Population')
popu_evo.head()

Année                 2007        2017
Zone
Afghanistan     27100536.0  36296113.0
Afrique du Sud  49119759.0  57009756.0
Albanie          3033998.0   2884169.0
Algérie         34166972.0  41389189.0
Allemagne       81277830.0  82658409.0

In [640]:
popu_evo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 237 entries, Afghanistan to Îles Wallis-et-Futuna
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2007    230 non-null    float64
 1   2017    236 non-null    float64
dtypes: float64(2)
memory usage: 5.6+ KB

In [641]:
# Ajouter la nouvelle variable: Evolution de la population de 2007-2017
popu_evo['% Popu 2007_2017']=(popu_evo['2017']-popu_evo['2007'])*100 /popu_evo['2007']

In [642]:
# Suppression des colonnes inutiles
popu_evo.drop(columns = ["2007","2017"],inplace=True)

In [643]:
popu_evo.head()

Année           % Popu 2007_2017
Zone
Afghanistan            33.931347
Afrique du Sud         16.062776
Albanie                -4.938335
Algérie                21.138007
Allemagne               1.698592

In [644]:
popu_evo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 237 entries, Afghanistan to Îles Wallis-et-Futuna
Data columns (total 1 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   % Popu 2007_2017  229 non-null    float64
dtypes: float64(1)
memory usage: 3.7+ KB

  ### Jointure popu_17 et popu_evo

In [645]:
popu_2017 = pd.merge(popu_17, popu_evo, how='inner', on='Zone')

In [646]:
popu_2017.head()

             Zone  Année  Population  % Popu 2007_2017
0     Afghanistan   2017    36296113         33.931347
1  Afrique du Sud   2017    57009756         16.062776
2         Albanie   2017     2884169         -4.938335
3         Algérie   2017    41389189         21.138007
4       Allemagne   2017    82658409          1.698592

In [647]:
#Afficher les intitulés uniques de la colonne 'Zone'
popu_2017.Zone.unique()

array(['Afghanistan', 'Afrique du Sud', 'Albanie', 'Algérie', 'Allemagne',
       'Andorre', 'Angola', 'Anguilla', 'Antigua-et-Barbuda',
       'Antilles néerlandaises (ex)', 'Arabie saoudite', 'Argentine',
       'Arménie', 'Aruba', 'Australie', 'Autriche', 'Azerbaïdjan',
       'Bahamas', 'Bahreïn', 'Bangladesh', 'Barbade', 'Bélarus',
       'Belgique', 'Belize', 'Bénin', 'Bermudes', 'Bhoutan',
       'Bolivie (État plurinational de)',
       'Bonaire, Saint-Eustache et Saba', 'Bosnie-Herzégovine',
       'Botswana', 'Brésil', 'Brunéi Darussalam', 'Bulgarie',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodge', 'Cameroun',
       'Canada', 'Chili', 'Chine - RAS de Hong-Kong',
       'Chine - RAS de Macao', 'Chine, continentale',
       'Chine, Taiwan Province de', 'Chypre', 'Colombie', 'Comores',
       'Congo', 'Costa Rica', "Côte d'Ivoire", 'Croatie', 'Cuba',
       'Curaçao', 'Danemark', 'Djibouti', 'Dominique', 'Égypte',
       'El Salvador', 'Émirats arabes unis', 'Équateur', 'Érythrée',
       'Espagne', 'Estonie', 'Eswatini', "États-Unis d'Amérique",
       'Éthiopie', 'Fédération de Russie', 'Fidji', 'Finlande', 'France',
       'Gabon', 'Gambie', 'Géorgie', 'Ghana', 'Gibraltar', 'Grèce',
       'Grenade', 'Groenland', 'Guadeloupe', 'Guam', 'Guatemala',
       'Guinée', 'Guinée équatoriale', 'Guinée-Bissau', 'Guyana',
       'Guyane française', 'Haïti', 'Honduras', 'Hongrie', 'Île de Man',
       'Îles Anglo-Normandes', 'Îles Caïmanes', 'Îles Cook',
       'Îles Falkland (Malvinas)', 'Îles Féroé', 'Îles Mariannes du Nord',
       'Îles Marshall', 'Îles Salomon', 'Îles Turques-et-Caïques',
       'Îles Vierges américaines', 'Îles Vierges britanniques',
       'Îles Wallis-et-Futuna', 'Inde', 'Indonésie',
       "Iran (République islamique d')", 'Iraq', 'Irlande', 'Islande',
       'Israël', 'Italie', 'Jamaïque', 'Japon', 'Jordanie', 'Kazakhstan',
       'Kenya', 'Kirghizistan', 'Kiribati', 'Koweït', 'Lesotho',
       'Lettonie', 'Liban', 'Libéria', 'Libye', 'Liechtenstein',
       'Lituanie', 'Luxembourg', 'Macédoine du Nord', 'Madagascar',
       'Malaisie', 'Malawi', 'Maldives', 'Mali', 'Malte', 'Maroc',
       'Martinique', 'Maurice', 'Mauritanie', 'Mayotte', 'Mexique',
       'Micronésie (États fédérés de)', 'Monaco', 'Mongolie',
       'Monténégro', 'Montserrat', 'Mozambique', 'Myanmar', 'Namibie',
       'Nauru', 'Népal', 'Nicaragua', 'Niger', 'Nigéria', 'Nioué',
       'Norvège', 'Nouvelle-Calédonie', 'Nouvelle-Zélande', 'Oman',
       'Ouganda', 'Ouzbékistan', 'Pakistan', 'Palaos', 'Palestine',
       'Panama', 'Papouasie-Nouvelle-Guinée', 'Paraguay', 'Pays-Bas',
       'Pérou', 'Philippines', 'Pologne', 'Polynésie française',
       'Porto Rico', 'Portugal', 'Qatar', 'République arabe syrienne',
       'République centrafricaine', 'République de Corée',
       'République de Moldova', 'République démocratique du Congo',
       'République démocratique populaire lao', 'République dominicaine',
       'République populaire démocratique de Corée',
       'République-Unie de Tanzanie', 'Réunion', 'Roumanie',
       "Royaume-Uni de Grande-Bretagne et d'Irlande du Nord", 'Rwanda',
       'Sahara occidental', 'Saint-Barthélemy',
       'Sainte-Hélène, Ascension et Tristan da Cunha', 'Sainte-Lucie',
       'Saint-Kitts-et-Nevis', 'Saint-Marin',
       'Saint-Martin (partie française)', 'Saint-Pierre-et-Miquelon',
       'Saint-Siège', 'Saint-Vincent-et-les Grenadines', 'Samoa',
       'Samoa américaines', 'Sao Tomé-et-Principe', 'Sénégal', 'Serbie',
       'Seychelles', 'Sierra Leone', 'Singapour',
       'Sint Maarten  (partie néerlandaise)', 'Slovaquie', 'Slovénie',
       'Somalie', 'Soudan', 'Soudan du Sud', 'Sri Lanka', 'Suède',
       'Suisse', 'Suriname', 'Tadjikistan', 'Tchad', 'Tchéquie',
       'Thaïlande', 'Timor-Leste', 'Togo', 'Tokélaou', 'Tonga',
       'Trinité-et-Tobago', 'Tunisie', 'Turkménistan', 'Turquie',
       'Tuvalu', 'Ukraine', 'Uruguay', 'Vanuatu',
       'Venezuela (République bolivarienne du)', 'Viet Nam', 'Yémen',
       'Zambie', 'Zimbabwe'], dtype=object)

Attention, on a 4 lignes disctinctes pour la Chine: 'Chine', 'Chine - RAS de Hong-Kong', 'Chine - RAS de Macao', 'Chine, continentale'

In [648]:
popu_2017['Zone'].nunique()

236

In [649]:
popu_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 236 entries, 0 to 235
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Zone              236 non-null    object
 1   Année             236 non-null    int64
 2   Population        236 non-null    int32
 3   % Popu 2007_2017  229 non-null    float64
dtypes: float64(1), int32(1), int64(1), object(1)
memory usage: 8.3+ KB

In [650]:
# Trouver le nombre de doublons
popu_2017.duplicated(['Zone']).sum()

0

In [651]:
# Nombre de valeurs manquantes
popu_2017.isnull().sum()

Zone                0
Année               0
Population          0
% Popu 2007_2017    7
dtype: int64

## Données Disponibilité alimentaire

### Lecture du fichier

In [652]:
#Importation des données 'DisponibiliteAlimentaire_2017'
dispo_alim = pd.read_csv("D:/Open_work/P9/doc_origine/DAN-P9-data/DisponibiliteAlimentaire_2017.csv")
dispo_alim.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2511,Blé et produits,2017,2017,Milliers de tonnes,4281.0,S,Données standardisées
1,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,2302.0,S,Données standardisées
2,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2511,Blé et produits,2017,2017,Milliers de tonnes,-119.0,S,Données standardisées
3,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5911,Exportations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,0.0,S,Données standardisées
4,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé et produits,2017,2017,Milliers de tonnes,6701.0,S,Données standardisées

In [653]:
dispo_alim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176600 entries, 0 to 176599
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Code Domaine            176600 non-null  object
 1   Domaine                 176600 non-null  object
 2   Code zone               176600 non-null  int64
 3   Zone                    176600 non-null  object
 4   Code Élément            176600 non-null  int64
 5   Élément                 176600 non-null  object
 6   Code Produit            176600 non-null  int64
 7   Produit                 176600 non-null  object
 8   Code année              176600 non-null  int64
 9   Année                   176600 non-null  int64
 10  Unité                   176600 non-null  object
 11  Valeur                  176600 non-null  float64
 12  Symbole                 176600 non-null  object
 13  Description du Symbole  176600 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 18.9+ MB

In [654]:
dispo_alim.describe()

,Code zone,Code Élément,Code Produit,Code année,Année,Valeur
count,176600.000000,176600.000000,176600.000000,176600.0,176600.0,176600.000000
mean,125.474740,3810.052894,2628.778545,2017.0,2017.0,210.554918
std,72.941699,2211.790089,91.993247,0.0,0.0,4762.047787
min,1.000000,645.000000,2511.000000,2017.0,2017.0,-10388.000000
25%,63.000000,684.000000,2556.000000,2017.0,2017.0,0.000000
50%,120.000000,5142.000000,2612.000000,2017.0,2017.0,0.120000
75%,188.000000,5301.000000,2732.000000,2017.0,2017.0,8.462500
max,276.000000,5911.000000,2899.000000,2017.0,2017.0,758548.000000

In [655]:
dispo_alim.shape

(176600, 14)

### Nettoyage du fichier

#### Créer dataframe: dispo_alim_total

In [955]:
# Verifier les valeurs uniques de la colonne 'Unité'
dispo_alim.Unité.unique()

array(['Milliers de tonnes', 'kg', 'Kcal/personne/jour',
       'g/personne/jour'], dtype=object)

In [657]:
# Sélection des colonnes utiles
dispo_alim = dispo_alim[['Zone', 'Élément', 'Produit', 'Unité','Valeur']]
dispo_alim.head()

,Zone,Élément,Produit,Unité,Valeur
0,Afghanistan,Production,Blé et produits,Milliers de tonnes,4281.0
1,Afghanistan,Importations - Quantité,Blé et produits,Milliers de tonnes,2302.0
2,Afghanistan,Variation de stock,Blé et produits,Milliers de tonnes,-119.0
3,Afghanistan,Exportations - Quantité,Blé et produits,Milliers de tonnes,0.0
4,Afghanistan,Disponibilité intérieure,Blé et produits,Milliers de tonnes,6701.0

In [658]:
# Changement de l'unité des valeurs en tonnes
dispo_alim['Valeur']*= 1e6

In [659]:
#Pivot dataframe 'dispo_alim'
dispo_alim_total = dispo_alim.pivot_table(columns='Élément', index=['Zone'], values='Valeur',aggfunc=np.sum)

In [660]:
dispo_alim_total.head()

Élément,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Semences,Traitement,Variation de stock
Zone,,,,,,,,,,,,,,,,,
Afghanistan,NaN,4.560000e+08,9.400000e+07,1.997000e+09,3.573100e+08,30630000.0,54090000.0,1.513900e+10,6.010000e+08,4.555000e+09,1.296800e+10,1.146000e+09,1.160900e+10,-111000000.0,4.700000e+08,1.150000e+08,426000000.0
Afrique du Sud,0.0,9.371000e+09,1.448000e+09,2.987000e+09,5.564200e+08,81920000.0,83360000.0,6.684000e+10,1.096800e+10,9.020000e+09,3.172600e+10,3.108000e+09,6.845500e+10,-594000000.0,2.120000e+08,2.156400e+10,-322000000.0
Albanie,NaN,6.970000e+08,1.770000e+08,3.400000e+09,1.260490e+09,117570000.0,119500000.0,4.879000e+09,1.560000e+08,8.840000e+08,3.631000e+09,3.210000e+08,4.231000e+09,-115000000.0,5.300000e+07,1.130000e+08,72000000.0
Algérie,0.0,4.884000e+09,2.405000e+09,3.345000e+09,7.987100e+08,79620000.0,92850000.0,4.536500e+10,7.430000e+08,1.971800e+10,3.305600e+10,3.683000e+09,2.676300e+10,-22000000.0,3.580000e+08,9.930000e+08,374000000.0
Allemagne,NaN,3.090400e+10,8.316000e+09,3.559000e+09,9.432400e+08,147960000.0,104070000.0,1.749600e+11,5.879300e+10,6.655000e+10,7.798800e+10,5.756000e+09,1.678280e+11,-831000000.0,1.712000e+09,5.110900e+10,651000000.0

In [661]:
# Sélection des colonnes utiles
dispo_alim_total = dispo_alim_total[['Exportations - Quantité', 'Importations - Quantité', 'Nourriture']]
dispo_alim_total.head()

Élément         Exportations - Quantité  Importations - Quantité    Nourriture
Zone
Afghanistan                6.010000e+08             4.555000e+09  1.296800e+10
Afrique du Sud             1.096800e+10             9.020000e+09  3.172600e+10
Albanie                    1.560000e+08             8.840000e+08  3.631000e+09
Algérie                    7.430000e+08             1.971800e+10  3.305600e+10
Allemagne                  5.879300e+10             6.655000e+10  7.798800e+10

In [662]:
# Renommage des colonnes
dispo_alim_total =dispo_alim_total.rename(columns={'Exportations - Quantité': 'Exportation totale', 'Importations - Quantité': 'Importations Totale', 'Nourriture': 'Consommation Totale'})
dispo_alim_total.head()

Élément         Exportation totale  Importations Totale  Consommation Totale
Zone
Afghanistan           6.010000e+08         4.555000e+09         1.296800e+10
Afrique du Sud        1.096800e+10         9.020000e+09         3.172600e+10
Albanie               1.560000e+08         8.840000e+08         3.631000e+09
Algérie               7.430000e+08         1.971800e+10         3.305600e+10
Allemagne             5.879300e+10         6.655000e+10         7.798800e+10

In [663]:
dispo_alim_total.info()

<class 'pandas.core.frame.DataFrame'>
Index: 174 entries, Afghanistan to Îles Salomon
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Exportation totale   174 non-null    float64
 1   Importations Totale  174 non-null    float64
 2   Consommation Totale  174 non-null    float64
dtypes: float64(3)
memory usage: 5.4+ KB

#### Créer dataframe: dispo_poulet

In [664]:
# Choisir uniquement les données des produits "Viande de Volailles"
dispo_poulet = dispo_alim[dispo_alim['Produit'] == 'Viande de Volailles'].reset_index(drop=True)
dispo_poulet.head()

,Zone,Élément,Produit,Unité,Valeur
0,Afghanistan,Production,Viande de Volailles,Milliers de tonnes,28000000.0
1,Afghanistan,Importations - Quantité,Viande de Volailles,Milliers de tonnes,29000000.0
2,Afghanistan,Variation de stock,Viande de Volailles,Milliers de tonnes,0.0
3,Afghanistan,Disponibilité intérieure,Viande de Volailles,Milliers de tonnes,57000000.0
4,Afghanistan,Pertes,Viande de Volailles,Milliers de tonnes,2000000.0

In [665]:
#Pivot dataframe 'dispo_poulet'
dispo_poulet = dispo_poulet.pivot(columns='Élément', index=['Zone'], values='Valeur')

In [666]:
dispo_poulet.head()

Élément,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Semences,Traitement,Variation de stock
Zone,,,,,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,5000000.0,1530000.0,330000.0,540000.0,5.700000e+07,NaN,29000000.0,5.500000e+07,2000000.0,2.800000e+07,0.0,NaN,NaN,0.0
Afrique du Sud,0.0,NaN,NaN,143000000.0,35690000.0,9250000.0,14110000.0,2.118000e+09,63000000.0,514000000.0,2.035000e+09,83000000.0,1.667000e+09,0.0,NaN,NaN,-0.0
Albanie,NaN,NaN,NaN,85000000.0,16360000.0,6450000.0,6260000.0,4.700000e+07,0.0,38000000.0,4.700000e+07,NaN,1.300000e+07,0.0,NaN,NaN,4000000.0
Algérie,0.0,NaN,NaN,22000000.0,6380000.0,1500000.0,1970000.0,2.770000e+08,0.0,2000000.0,2.640000e+08,13000000.0,2.750000e+08,0.0,NaN,NaN,0.0
Allemagne,NaN,NaN,NaN,71000000.0,19470000.0,4160000.0,7960000.0,1.739000e+09,646000000.0,842000000.0,1.609000e+09,NaN,1.514000e+09,-38000000.0,NaN,167000000.0,-29000000.0

***- Vérifier les valeurs nulles***

In [667]:
dispo_poulet.isna().sum()

Élément
Alimentation pour touristes                                       94
Aliments pour animaux                                            171
Autres utilisations (non alimentaire)                            138
Disponibilité alimentaire (Kcal/personne/jour)                     0
Disponibilité alimentaire en quantité (kg/personne/an)             0
Disponibilité de matière grasse en quantité (g/personne/jour)      0
Disponibilité de protéines en quantité (g/personne/jour)           0
Disponibilité intérieure                                           2
Exportations - Quantité                                           37
Importations - Quantité                                            2
Nourriture                                                         2
Pertes                                                           105
Production                                                         4
Résidus                                                            8
Semences                                                         171
Traitement                                                       126
Variation de stock                                                 3
dtype: int64

**Vu que j'ai besoin de la variable 'Exportations' qui a 37 valeurs nulles, alors je vais remplacer ces valeurs nulles par cette formule:**

Disponibilité Intérieure = (Production + Importations - disponibilité alimentaire(Quantité) + Variation de stock) - Exportations
devient alors:  
**Exportations = (Production + Importations - disponibilité alimentaire(Quantité) + Variation de stock) - Disponibilité Intérieure**

In [668]:
dispo_poulet['Exportations - Quantité']= dispo_poulet.apply(lambda x : ((x['Production'] + x['Importations - Quantité'] 
                                                                       - x['Disponibilité alimentaire en quantité (kg/personne/an)'] 
                                                                       + x['Variation de stock']) - x['Disponibilité intérieure']) 
                                                          if pd.isnull(x['Exportations - Quantité']) else x['Exportations - Quantité'], axis=1)

In [669]:
dispo_poulet.isna().sum()

Élément
Alimentation pour touristes                                       94
Aliments pour animaux                                            171
Autres utilisations (non alimentaire)                            138
Disponibilité alimentaire (Kcal/personne/jour)                     0
Disponibilité alimentaire en quantité (kg/personne/an)             0
Disponibilité de matière grasse en quantité (g/personne/jour)      0
Disponibilité de protéines en quantité (g/personne/jour)           0
Disponibilité intérieure                                           2
Exportations - Quantité                                            4
Importations - Quantité                                            2
Nourriture                                                         2
Pertes                                                           105
Production                                                         4
Résidus                                                            8
Semences                                                         171
Traitement                                                       126
Variation de stock                                                 3
dtype: int64

J'ai remplacé 33 valeurs manquantes avec cette formule.

In [670]:
# Sélection des colonnes utiles
dispo_poulet = dispo_poulet[['Disponibilité intérieure', 'Exportations - Quantité',
                           'Importations - Quantité', 'Production', 'Nourriture']]
dispo_poulet.head()

Élément,Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Production,Nourriture
Zone,,,,,
Afghanistan,5.700000e+07,-1530000.0,29000000.0,2.800000e+07,5.500000e+07
Afrique du Sud,2.118000e+09,63000000.0,514000000.0,1.667000e+09,2.035000e+09
Albanie,4.700000e+07,0.0,38000000.0,1.300000e+07,4.700000e+07
Algérie,2.770000e+08,0.0,2000000.0,2.750000e+08,2.640000e+08
Allemagne,1.739000e+09,646000000.0,842000000.0,1.514000e+09,1.609000e+09

In [671]:
# Changer les noms des colonnes
dispo_poulet = dispo_poulet.rename(columns={'Disponibilité intérieure': 'Dispo intérieure poulet', 
                        'Exportations - Quantité': 'Exportations poulet',
                        'Importations - Quantité': 'Importations poulet', 
                        'Production': 'Production poulet','Nourriture': 'Consommation poulet'})
dispo_poulet.head()

Élément,Dispo intérieure poulet,Exportations poulet,Importations poulet,Production poulet,Consommation poulet
Zone,,,,,
Afghanistan,5.700000e+07,-1530000.0,29000000.0,2.800000e+07,5.500000e+07
Afrique du Sud,2.118000e+09,63000000.0,514000000.0,1.667000e+09,2.035000e+09
Albanie,4.700000e+07,0.0,38000000.0,1.300000e+07,4.700000e+07
Algérie,2.770000e+08,0.0,2000000.0,2.750000e+08,2.640000e+08
Allemagne,1.739000e+09,646000000.0,842000000.0,1.514000e+09,1.609000e+09

In [672]:
dispo_poulet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 172 entries, Afghanistan to Îles Salomon
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dispo intérieure poulet  170 non-null    float64
 1   Exportations poulet      168 non-null    float64
 2   Importations poulet      170 non-null    float64
 3   Production poulet        168 non-null    float64
 4   Consommation poulet      170 non-null    float64
dtypes: float64(5)
memory usage: 8.1+ KB

#### Jointure dispo_poulet et dispo_alim_total

In [673]:
dispo_poulet_17 = pd.merge(dispo_alim_total, dispo_poulet, how='inner', on='Zone')

In [674]:
dispo_poulet_17 = dispo_poulet_17.reset_index()

In [675]:
dispo_poulet_17.head()

Élément,Zone,Exportation totale,Importations Totale,Consommation Totale,Dispo intérieure poulet,Exportations poulet,Importations poulet,Production poulet,Consommation poulet
0,Afghanistan,6.010000e+08,4.555000e+09,1.296800e+10,5.700000e+07,-1530000.0,29000000.0,2.800000e+07,5.500000e+07
1,Afrique du Sud,1.096800e+10,9.020000e+09,3.172600e+10,2.118000e+09,63000000.0,514000000.0,1.667000e+09,2.035000e+09
2,Albanie,1.560000e+08,8.840000e+08,3.631000e+09,4.700000e+07,0.0,38000000.0,1.300000e+07,4.700000e+07
3,Algérie,7.430000e+08,1.971800e+10,3.305600e+10,2.770000e+08,0.0,2000000.0,2.750000e+08,2.640000e+08
4,Allemagne,5.879300e+10,6.655000e+10,7.798800e+10,1.739000e+09,646000000.0,842000000.0,1.514000e+09,1.609000e+09

#### Ajouter les variables ####  
- La proportion de poulet par rapport à l'exportation total, l'importation totale et la consommation totale

In [676]:
dispo_poulet_17['Taux_import_poulet %'] = round((dispo_poulet_17['Importations poulet']*100/ dispo_poulet_17['Importations Totale']),2)

In [677]:
dispo_poulet_17['Taux_expot_poulet %'] = round((dispo_poulet_17['Exportations poulet']*100 / dispo_poulet_17['Exportation totale']),2)

In [678]:
dispo_poulet_17['Taux_consom_poulet %'] = round((dispo_poulet_17['Consommation poulet']*100/ dispo_poulet_17['Consommation Totale']),2)

In [679]:
dispo_poulet_17.head()

Élément,Zone,Exportation totale,Importations Totale,Consommation Totale,Dispo intérieure poulet,Exportations poulet,Importations poulet,Production poulet,Consommation poulet,Taux_import_poulet %,Taux_expot_poulet %,Taux_consom_poulet %
0,Afghanistan,6.010000e+08,4.555000e+09,1.296800e+10,5.700000e+07,-1530000.0,29000000.0,2.800000e+07,5.500000e+07,0.64,-0.25,0.42
1,Afrique du Sud,1.096800e+10,9.020000e+09,3.172600e+10,2.118000e+09,63000000.0,514000000.0,1.667000e+09,2.035000e+09,5.70,0.57,6.41
2,Albanie,1.560000e+08,8.840000e+08,3.631000e+09,4.700000e+07,0.0,38000000.0,1.300000e+07,4.700000e+07,4.30,0.00,1.29
3,Algérie,7.430000e+08,1.971800e+10,3.305600e+10,2.770000e+08,0.0,2000000.0,2.750000e+08,2.640000e+08,0.01,0.00,0.80
4,Allemagne,5.879300e+10,6.655000e+10,7.798800e+10,1.739000e+09,646000000.0,842000000.0,1.514000e+09,1.609000e+09,1.27,1.10,2.06

In [680]:
# Suppression des colonnes inutiles
dispo_poulet_17 = dispo_poulet_17.drop(
    columns=['Exportation totale','Importations Totale', 'Consommation Totale'])

In [681]:
dispo_poulet_17.head()

Élément,Zone,Dispo intérieure poulet,Exportations poulet,Importations poulet,Production poulet,Consommation poulet,Taux_import_poulet %,Taux_expot_poulet %,Taux_consom_poulet %
0,Afghanistan,5.700000e+07,-1530000.0,29000000.0,2.800000e+07,5.500000e+07,0.64,-0.25,0.42
1,Afrique du Sud,2.118000e+09,63000000.0,514000000.0,1.667000e+09,2.035000e+09,5.70,0.57,6.41
2,Albanie,4.700000e+07,0.0,38000000.0,1.300000e+07,4.700000e+07,4.30,0.00,1.29
3,Algérie,2.770000e+08,0.0,2000000.0,2.750000e+08,2.640000e+08,0.01,0.00,0.80
4,Allemagne,1.739000e+09,646000000.0,842000000.0,1.514000e+09,1.609000e+09,1.27,1.10,2.06

In [682]:
#Afficher les intitulés uniques de la colonne 'Zone'
dispo_poulet_17.Zone.unique()

array(['Afghanistan', 'Afrique du Sud', 'Albanie', 'Algérie', 'Allemagne',
       'Angola', 'Antigua-et-Barbuda', 'Arabie saoudite', 'Argentine',
       'Arménie', 'Australie', 'Autriche', 'Azerbaïdjan', 'Bahamas',
       'Bangladesh', 'Barbade', 'Belgique', 'Belize',
       'Bolivie (État plurinational de)', 'Bosnie-Herzégovine',
       'Botswana', 'Brésil', 'Bulgarie', 'Burkina Faso', 'Bélarus',
       'Bénin', 'Cabo Verde', 'Cambodge', 'Cameroun', 'Canada', 'Chili',
       'Chine - RAS de Hong-Kong', 'Chine - RAS de Macao',
       'Chine, Taiwan Province de', 'Chine, continentale', 'Chypre',
       'Colombie', 'Congo', 'Costa Rica', 'Croatie', 'Cuba',
       "Côte d'Ivoire", 'Danemark', 'Djibouti', 'Dominique',
       'El Salvador', 'Espagne', 'Estonie', 'Eswatini', 'Fidji',
       'Finlande', 'France', 'Fédération de Russie', 'Gabon', 'Gambie',
       'Ghana', 'Grenade', 'Grèce', 'Guatemala', 'Guinée',
       'Guinée-Bissau', 'Guyana', 'Géorgie', 'Haïti', 'Honduras',
       'Hongrie', 'Inde', 'Indonésie', "Iran (République islamique d')",
       'Iraq', 'Irlande', 'Islande', 'Israël', 'Italie', 'Jamaïque',
       'Japon', 'Jordanie', 'Kazakhstan', 'Kenya', 'Kirghizistan',
       'Kiribati', 'Koweït', 'Lesotho', 'Lettonie', 'Liban', 'Libéria',
       'Lituanie', 'Luxembourg', 'Macédoine du Nord', 'Madagascar',
       'Malaisie', 'Malawi', 'Maldives', 'Mali', 'Malte', 'Maroc',
       'Maurice', 'Mauritanie', 'Mexique', 'Mongolie', 'Monténégro',
       'Mozambique', 'Myanmar', 'Namibie', 'Nicaragua', 'Niger',
       'Nigéria', 'Norvège', 'Nouvelle-Calédonie', 'Nouvelle-Zélande',
       'Népal', 'Oman', 'Ouganda', 'Ouzbékistan', 'Pakistan', 'Panama',
       'Paraguay', 'Pays-Bas', 'Philippines', 'Pologne',
       'Polynésie française', 'Portugal', 'Pérou', 'Roumanie',
       "Royaume-Uni de Grande-Bretagne et d'Irlande du Nord", 'Rwanda',
       'République centrafricaine', 'République de Corée',
       'République de Moldova', 'République dominicaine',
       'République démocratique populaire lao',
       'République populaire démocratique de Corée',
       'République-Unie de Tanzanie', 'Saint-Kitts-et-Nevis',
       'Saint-Vincent-et-les Grenadines', 'Sainte-Lucie', 'Samoa',
       'Sao Tomé-et-Principe', 'Serbie', 'Sierra Leone', 'Slovaquie',
       'Slovénie', 'Soudan', 'Sri Lanka', 'Suisse', 'Suriname', 'Suède',
       'Sénégal', 'Tadjikistan', 'Tchad', 'Tchéquie', 'Thaïlande',
       'Timor-Leste', 'Togo', 'Trinité-et-Tobago', 'Tunisie',
       'Turkménistan', 'Turquie', 'Ukraine', 'Uruguay', 'Vanuatu',
       'Venezuela (République bolivarienne du)', 'Viet Nam', 'Yémen',
       'Zambie', 'Zimbabwe', 'Égypte', 'Émirats arabes unis', 'Équateur',
       "États-Unis d'Amérique", 'Éthiopie', 'Îles Salomon'], dtype=object)

In [683]:
dispo_poulet_17['Zone'].nunique()

172

Attention, on a pas le même nombre de pays dans les jeux de données.  
Afficher les pays qui ne figurent pas dans le jeu de données dispo_poulet_17

In [684]:
popu_2017[~popu_2017['Zone'].isin(dispo_poulet_17['Zone'].unique())]['Zone'].unique()

array(['Andorre', 'Anguilla', 'Antilles néerlandaises (ex)', 'Aruba',
       'Bahreïn', 'Bermudes', 'Bhoutan',
       'Bonaire, Saint-Eustache et Saba', 'Brunéi Darussalam', 'Burundi',
       'Comores', 'Curaçao', 'Érythrée', 'Gibraltar', 'Groenland',
       'Guadeloupe', 'Guam', 'Guinée équatoriale', 'Guyane française',
       'Île de Man', 'Îles Anglo-Normandes', 'Îles Caïmanes', 'Îles Cook',
       'Îles Falkland (Malvinas)', 'Îles Féroé', 'Îles Mariannes du Nord',
       'Îles Marshall', 'Îles Turques-et-Caïques',
       'Îles Vierges américaines', 'Îles Vierges britanniques',
       'Îles Wallis-et-Futuna', 'Libye', 'Liechtenstein', 'Martinique',
       'Mayotte', 'Micronésie (États fédérés de)', 'Monaco', 'Montserrat',
       'Nauru', 'Nioué', 'Palaos', 'Palestine',
       'Papouasie-Nouvelle-Guinée', 'Porto Rico', 'Qatar',
       'République arabe syrienne', 'République démocratique du Congo',
       'Réunion', 'Sahara occidental', 'Saint-Barthélemy',
       'Sainte-Hélène, Ascension et Tristan da Cunha', 'Saint-Marin',
       'Saint-Martin (partie française)', 'Saint-Pierre-et-Miquelon',
       'Saint-Siège', 'Samoa américaines', 'Seychelles', 'Singapour',
       'Sint Maarten  (partie néerlandaise)', 'Somalie', 'Soudan du Sud',
       'Tokélaou', 'Tonga', 'Tuvalu'], dtype=object)

In [685]:
dispo_poulet_17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Zone                     172 non-null    object
 1   Dispo intérieure poulet  170 non-null    float64
 2   Exportations poulet      168 non-null    float64
 3   Importations poulet      170 non-null    float64
 4   Production poulet        168 non-null    float64
 5   Consommation poulet      170 non-null    float64
 6   Taux_import_poulet %     170 non-null    float64
 7   Taux_expot_poulet %      167 non-null    float64
 8   Taux_consom_poulet %     170 non-null    float64
dtypes: float64(8), object(1)
memory usage: 12.2+ KB

####   Vérification des doublons

In [686]:
# Trouver le nombre des doublons
dispo_poulet_17.duplicated(['Zone']).sum()

0

## Données Stabilité politique

### Lecture du fichier

In [687]:
#Importation des données 
stabilite = pd.read_csv("D:/Open_work/P9/doc_origine/DAN-P9-data/Stabilité_politique_2017.csv")

In [688]:
stabilite.head(50)

,Code Domaine,Domaine,Code zone (ISO3),Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,FS,Données de la sécurité alimentaire,AFG,Afghanistan,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,-2.80,X,Sources internationales sûres,NaN
1,FS,Données de la sécurité alimentaire,ZAF,Afrique du Sud,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,-0.28,X,Sources internationales sûres,NaN
2,FS,Données de la sécurité alimentaire,ALB,Albanie,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,0.38,X,Sources internationales sûres,NaN
3,FS,Données de la sécurité alimentaire,DZA,Algérie,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,-0.92,X,Sources internationales sûres,NaN
4,FS,Données de la sécurité alimentaire,DEU,Allemagne,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,0.59,X,Sources internationales sûres,NaN
5,FS,Données de la sécurité alimentaire,AND,Andorre,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,1.42,X,Sources internationales sûres,NaN
6,FS,Données de la sécurité alimentaire,AGO,Angola,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,-0.33,X,Sources internationales sûres,NaN
7,FS,Données de la sécurité alimentaire,ATG,Antigua-et-Barbuda,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,0.75,X,Sources internationales sûres,NaN
8,FS,Données de la sécurité alimentaire,SAU,Arabie saoudite,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,-0.58,X,Sources internationales sûres,NaN
9,FS,Données de la sécurité alimentaire,ARG,Argentine,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,0.17,X,Sources internationales sûres,NaN
10,FS,Données de la sécurité alimentaire,ARM,Arménie,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,-0.62,X,Sources internationales sûres,NaN
11,FS,Données de la sécurité alimentaire,AUS,Australie,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,0.89,X,Sources internationales sûres,NaN
12,FS,Données de la sécurité alimentaire,AUT,Autriche,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,1.05,X,Sources internationales sûres,NaN
13,FS,Données de la sécurité alimentaire,AZE,Azerbaïdjan,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,-0.75,X,Sources internationales sûres,NaN
14,FS,Données de la sécurité alimentaire,BHS,Bahamas,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,0.99,X,Sources internationales sûres,NaN
15,FS,Données de la sécurité alimentaire,BHR,Bahreïn,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,-0.96,X,Sources internationales sûres,NaN
16,FS,Données de la sécurité alimentaire,BGD,Bangladesh,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,-1.26,X,Sources internationales sûres,NaN
17,FS,Données de la sécurité alimentaire,BRB,Barbade,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,0.97,X,Sources internationales sûres,NaN
18,FS,Données de la sécurité alimentaire,BLR,Bélarus,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,-0.05,X,Sources internationales sûres,NaN
19,FS,Données de la sécurité alimentaire,BEL,Belgique,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,0.43,X,Sources internationales sûres,NaN
20,FS,Données de la sécurité alimentaire,BLZ,Belize,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,0.04,X,Sources internationales sûres,NaN
21,FS,Données de la sécurité alimentaire,BEN,Bénin,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,0.03,X,Sources internationales sûres,NaN
22,FS,Données de la sécurité alimentaire,BMU,Bermudes,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,1.00,X,Sources internationales sûres,NaN
23,FS,Données de la sécurité alimentaire,BTN,Bhoutan,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,1.12,X,Sources internationales sûres,NaN
24,FS,Données de la sécurité alimentaire,BOL,Bolivie (État plurinational de),6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,-0.28,X,Sources internationales sûres,NaN
25,FS,Données de la sécurité alimentaire,BIH,Bosnie-Herzégovine,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,-0.35,X,Sources internationales sûres,NaN
26,FS,Données de la sécurité alimentaire,BWA,Botswana,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,1.02,X,Sources internationales sûres,NaN
27,FS,Données de la sécurité alimentaire,BRA,Brésil,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,-0.42,X,Sources internationales sûres,NaN
28,FS,Données de la sécurité alimentaire,BRN,Brunéi Darussalam,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,1.16,X,Sources internationales sûres,NaN
29,FS,Données de la sécurité alimentaire,BGR,Bulgarie,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,0.33,X,Sources internationales sûres,NaN
30,FS,Données de la sécurité alimentaire,BFA,Burkina Faso,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,-0.93,X,Sources internationales sûres,NaN
31,FS,Données de la sécurité alimentaire,BDI,Burundi,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,-2.01,X,Sources internationales sûres,NaN
32,FS,Données de la sécurité alimentaire,CPV,Cabo Verde,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,0.77,X,Sources internationales sûres,NaN
33,FS,Données de la sécurité alimentaire,KHM,Cambodge,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,0.09,X,Sources internationales sûres,NaN
34,FS,Données de la sécurité alimentaire,CMR,Cameroun,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,-1.10,X,Sources internationales sûres,NaN
35,FS,Données de la sécurité alimentaire,CAN,Canada,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,1.10,X,Sources internationales sûres,NaN
36,FS,Données de la sécurité alimentaire,CHL,Chili,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,0.42,X,Sources internationales sûres,NaN
37,FS,Données de la sécurité alimentaire,HKG,Chine - RAS de Hong-Kong,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,0.83,X,Sources internationales sûres,NaN
38,FS,Données de la sécurité alimentaire,MAC,Chine - RAS de Macao,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,1.43,X,Sources internationales sûres,NaN
39,FS,Données de la sécurité alimentaire,TWN,"Chine, Taiwan Province de",6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,0.86,X,Sources internationales sûres,NaN
40,FS,Données de la sécurité alimentaire,CYP,Chypre,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,0.54,X,Sources internationales sûres,NaN
41,FS,Données de la sécurité alimentaire,COL,Colombie,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,-0.77,X,Sources internationales sûres,NaN
42,FS,Données de la sécurité alimentaire,COM,Comores,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,0.04,X,Sources internationales sûres,NaN
43,FS,Données de la sécurité alimentaire,COG,Congo,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,-0.53,X,Sources internationales sûres,NaN
44,FS,Données de la sécurité alimentaire,CRI,Costa Rica,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,0.61,X,Sources internationales sûres,NaN
45,FS,Données de la sécurité alimentaire,CIV,Côte d'Ivoire,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,-1.09,X,Sources internationales sûres,NaN
46,FS,Données de la sécurité alimentaire,HRV,Croatie,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,0.69,X,Sources internationales sûres,NaN
47,FS,Données de la sécurité alimentaire,CUB,Cuba,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,0.65,X,Sources internationales sûres,NaN
48,FS,Données de la sécurité alimentaire,DNK,Danemark,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,0.87,X,Sources internationales sûres,NaN
49,FS,Données de la sécurité alimentaire,DJI,Djibouti,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,-0.74,X,Sources internationales sûres,NaN

In [689]:
#Afficher les intitulés uniques de la colonne 'Zone'
stabilite.Zone.unique()

array(['Afghanistan', 'Afrique du Sud', 'Albanie', 'Algérie', 'Allemagne',
       'Andorre', 'Angola', 'Antigua-et-Barbuda', 'Arabie saoudite',
       'Argentine', 'Arménie', 'Australie', 'Autriche', 'Azerbaïdjan',
       'Bahamas', 'Bahreïn', 'Bangladesh', 'Barbade', 'Bélarus',
       'Belgique', 'Belize', 'Bénin', 'Bermudes', 'Bhoutan',
       'Bolivie (État plurinational de)', 'Bosnie-Herzégovine',
       'Botswana', 'Brésil', 'Brunéi Darussalam', 'Bulgarie',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodge', 'Cameroun',
       'Canada', 'Chili', 'Chine - RAS de Hong-Kong',
       'Chine - RAS de Macao', 'Chine, Taiwan Province de', 'Chypre',
       'Colombie', 'Comores', 'Congo', 'Costa Rica', "Côte d'Ivoire",
       'Croatie', 'Cuba', 'Danemark', 'Djibouti', 'Dominique', 'Égypte',
       'El Salvador', 'Émirats arabes unis', 'Équateur', 'Érythrée',
       'Espagne', 'Estonie', 'Eswatini', "États-Unis d'Amérique",
       'Éthiopie', 'Fédération de Russie', 'Fidji', 'Finlande', 'France',
       'Gabon', 'Gambie', 'Géorgie', 'Ghana', 'Grèce', 'Grenade',
       'Groenland', 'Guatemala', 'Guinée', 'Guinée équatoriale',
       'Guinée-Bissau', 'Guyana', 'Haïti', 'Honduras', 'Hongrie',
       'Îles Marshall', 'Îles Salomon', 'Inde', 'Indonésie',
       "Iran (République islamique d')", 'Iraq', 'Irlande', 'Islande',
       'Israël', 'Italie', 'Jamaïque', 'Japon', 'Jordanie', 'Kazakhstan',
       'Kenya', 'Kirghizistan', 'Kiribati', 'Koweït', 'Lesotho',
       'Lettonie', 'Liban', 'Libéria', 'Libye', 'Lituanie', 'Luxembourg',
       'Macédoine du Nord', 'Madagascar', 'Malaisie', 'Malawi',
       'Maldives', 'Mali', 'Malte', 'Maroc', 'Maurice', 'Mauritanie',
       'Mexique', 'Micronésie (États fédérés de)', 'Mongolie',
       'Monténégro', 'Mozambique', 'Myanmar', 'Namibie', 'Nauru', 'Népal',
       'Nicaragua', 'Niger', 'Nigéria', 'Norvège', 'Nouvelle-Zélande',
       'Oman', 'Ouganda', 'Ouzbékistan', 'Pakistan', 'Palaos',
       'Palestine', 'Panama', 'Papouasie-Nouvelle-Guinée', 'Paraguay',
       'Pays-Bas', 'Pérou', 'Philippines', 'Pologne', 'Porto Rico',
       'Portugal', 'Qatar', 'République arabe syrienne',
       'République centrafricaine', 'République de Corée',
       'République de Moldova', 'République démocratique du Congo',
       'République démocratique populaire lao', 'République dominicaine',
       'République populaire démocratique de Corée',
       'République-Unie de Tanzanie', 'Roumanie',
       "Royaume-Uni de Grande-Bretagne et d'Irlande du Nord", 'Rwanda',
       'Sainte-Lucie', 'Saint-Kitts-et-Nevis',
       'Saint-Vincent-et-les Grenadines', 'Samoa', 'Samoa américaines',
       'Sao Tomé-et-Principe', 'Sénégal', 'Serbie', 'Seychelles',
       'Sierra Leone', 'Singapour', 'Slovaquie', 'Slovénie', 'Somalie',
       'Soudan', 'Soudan du Sud', 'Sri Lanka', 'Suède', 'Suisse',
       'Suriname', 'Tadjikistan', 'Tchad', 'Tchéquie', 'Thaïlande',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinité-et-Tobago', 'Tunisie',
       'Turkménistan', 'Turquie', 'Tuvalu', 'Ukraine', 'Uruguay',
       'Vanuatu', 'Venezuela (République bolivarienne du)', 'Viet Nam',
       'Yémen', 'Zambie', 'Zimbabwe'], dtype=object)

In [690]:
stabilite['Zone'].nunique()

197

Afficher les pays qui ne figurent pas dans le jeu de données stabilite

In [691]:
popu_2017[~popu_2017['Zone'].isin(stabilite['Zone'].unique())]['Zone'].unique()

array(['Anguilla', 'Antilles néerlandaises (ex)', 'Aruba',
       'Bonaire, Saint-Eustache et Saba', 'Chine, continentale',
       'Curaçao', 'Gibraltar', 'Guadeloupe', 'Guam', 'Guyane française',
       'Île de Man', 'Îles Anglo-Normandes', 'Îles Caïmanes', 'Îles Cook',
       'Îles Falkland (Malvinas)', 'Îles Féroé', 'Îles Mariannes du Nord',
       'Îles Turques-et-Caïques', 'Îles Vierges américaines',
       'Îles Vierges britanniques', 'Îles Wallis-et-Futuna',
       'Liechtenstein', 'Martinique', 'Mayotte', 'Monaco', 'Montserrat',
       'Nioué', 'Nouvelle-Calédonie', 'Polynésie française', 'Réunion',
       'Sahara occidental', 'Saint-Barthélemy',
       'Sainte-Hélène, Ascension et Tristan da Cunha', 'Saint-Marin',
       'Saint-Martin (partie française)', 'Saint-Pierre-et-Miquelon',
       'Saint-Siège', 'Sint Maarten  (partie néerlandaise)', 'Tokélaou'],
      dtype=object)

In [692]:
stabilite.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            197 non-null    object
 1   Domaine                 197 non-null    object
 2   Code zone (ISO3)        197 non-null    object
 3   Zone                    197 non-null    object
 4   Code Élément            197 non-null    int64
 5   Élément                 197 non-null    object
 6   Code Produit            197 non-null    int64
 7   Produit                 197 non-null    object
 8   Code année              197 non-null    int64
 9   Année                   197 non-null    int64
 10  Unité                   197 non-null    object
 11  Valeur                  197 non-null    float64
 12  Symbole                 197 non-null    object
 13  Description du Symbole  197 non-null    object
 14  Note                    0 non-null      float64
dtypes: float64(2), int64(4), object(9)
memory usage: 23.2+ KB

In [693]:
stabilite.describe()

       Code Élément  Code Produit  Code année   Année      Valeur  Note
count         197.0         197.0       197.0   197.0  197.000000   0.0
mean         6125.0       21032.0      2017.0  2017.0   -0.061777   NaN
std             0.0           0.0         0.0     0.0    0.994923   NaN
min          6125.0       21032.0      2017.0  2017.0   -2.940000   NaN
25%          6125.0       21032.0      2017.0  2017.0   -0.670000   NaN
50%          6125.0       21032.0      2017.0  2017.0    0.040000   NaN
75%          6125.0       21032.0      2017.0  2017.0    0.770000   NaN
max          6125.0       21032.0      2017.0  2017.0    1.920000   NaN

### Nettoyage du fichier

In [694]:
# Sélection des colonnes utiles
stabilite_17 = stabilite[['Zone','Valeur']]
stabilite_17.head()

             Zone  Valeur
0     Afghanistan   -2.80
1  Afrique du Sud   -0.28
2         Albanie    0.38
3         Algérie   -0.92
4       Allemagne    0.59

In [695]:
# Renommage des colonnes
stabilite_17 = stabilite_17.rename(columns={'Valeur': 'Stabilité politique'})
stabilite_17.head()

             Zone  Stabilité politique
0     Afghanistan                -2.80
1  Afrique du Sud                -0.28
2         Albanie                 0.38
3         Algérie                -0.92
4       Allemagne                 0.59

In [696]:
# Nombre de valeurs manquantes
stabilite_17.isnull().sum()

Zone                   0
Stabilité politique    0
dtype: int64

In [697]:
# Trouver le nombre des doublons
stabilite_17.duplicated(['Zone']).sum()

0

La dataframe 'stabilite_17' n'a pas de valeurs manquantes ni de doublons.

## Données PIB par habitant

### Lecture du fichier

In [698]:
#Importation des données 
PIB_hab = pd.read_csv("D:/Open_work/P9/doc_origine/DAN-P9-data/PIB_par_habitant_2017.csv")

In [699]:
PIB_hab.head()

,Code Domaine,Domaine,Code zone (FAO),Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2017,2017,I$,2058.4,X,Sources internationales sûres,NaN
1,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2017,2017,I$,12701.3,X,Sources internationales sûres,NaN
2,FS,Données de la sécurité alimentaire,3,Albanie,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2017,2017,I$,12771.0,X,Sources internationales sûres,NaN
3,FS,Données de la sécurité alimentaire,4,Algérie,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2017,2017,I$,11737.4,X,Sources internationales sûres,NaN
4,FS,Données de la sécurité alimentaire,79,Allemagne,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2017,2017,I$,52952.9,X,Sources internationales sûres,NaN

In [700]:
#Afficher les intitulés uniques de la colonne 'Zone'
PIB_hab.Zone.unique()

array(['Afghanistan', 'Afrique du Sud', 'Albanie', 'Algérie', 'Allemagne',
       'Angola', 'Antigua-et-Barbuda', 'Arabie saoudite', 'Argentine',
       'Arménie', 'Australie', 'Autriche', 'Azerbaïdjan', 'Bahamas',
       'Bahreïn', 'Bangladesh', 'Barbade', 'Bélarus', 'Belgique',
       'Belize', 'Bénin', 'Bermudes', 'Bhoutan',
       'Bolivie (État plurinational de)', 'Bosnie-Herzégovine',
       'Botswana', 'Brésil', 'Brunéi Darussalam', 'Bulgarie',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodge', 'Cameroun',
       'Canada', 'Chili', 'Chine', 'Chine - RAS de Hong-Kong',
       'Chine - RAS de Macao', 'Chypre', 'Colombie', 'Comores', 'Congo',
       'Costa Rica', "Côte d'Ivoire", 'Croatie', 'Danemark', 'Djibouti',
       'Dominique', 'Égypte', 'El Salvador', 'Émirats arabes unis',
       'Équateur', 'Espagne', 'Estonie', 'Eswatini',
       "États-Unis d'Amérique", 'Éthiopie', 'Fédération de Russie',
       'Fidji', 'Finlande', 'France', 'Gabon', 'Gambie', 'Géorgie',
       'Ghana', 'Grèce', 'Grenade', 'Guatemala', 'Guinée',
       'Guinée équatoriale', 'Guinée-Bissau', 'Guyana', 'Haïti',
       'Honduras', 'Hongrie', 'Îles Marshall', 'Îles Salomon', 'Inde',
       'Indonésie', "Iran (République islamique d')", 'Iraq', 'Irlande',
       'Islande', 'Israël', 'Italie', 'Jamaïque', 'Japon', 'Jordanie',
       'Kazakhstan', 'Kenya', 'Kirghizistan', 'Kiribati', 'Koweït',
       'Lesotho', 'Lettonie', 'Liban', 'Libéria', 'Libye', 'Lituanie',
       'Luxembourg', 'Macédoine du Nord', 'Madagascar', 'Malaisie',
       'Malawi', 'Maldives', 'Mali', 'Malte', 'Maroc', 'Maurice',
       'Mauritanie', 'Mexique', 'Micronésie (États fédérés de)',
       'Mongolie', 'Monténégro', 'Mozambique', 'Myanmar', 'Namibie',
       'Nauru', 'Népal', 'Nicaragua', 'Niger', 'Nigéria', 'Norvège',
       'Nouvelle-Zélande', 'Oman', 'Ouganda', 'Ouzbékistan', 'Pakistan',
       'Palaos', 'Palestine', 'Panama', 'Papouasie-Nouvelle-Guinée',
       'Paraguay', 'Pays-Bas', 'Pérou', 'Philippines', 'Pologne',
       'Porto Rico', 'Portugal', 'Qatar', 'République centrafricaine',
       'République de Corée', 'République de Moldova',
       'République démocratique du Congo',
       'République démocratique populaire lao', 'République dominicaine',
       'République-Unie de Tanzanie', 'Roumanie',
       "Royaume-Uni de Grande-Bretagne et d'Irlande du Nord", 'Rwanda',
       'Sainte-Lucie', 'Saint-Kitts-et-Nevis',
       'Saint-Vincent-et-les Grenadines', 'Samoa', 'Sao Tomé-et-Principe',
       'Sénégal', 'Serbie', 'Seychelles', 'Sierra Leone', 'Singapour',
       'Slovaquie', 'Slovénie', 'Somalie', 'Soudan', 'Sri Lanka', 'Suède',
       'Suisse', 'Suriname', 'Tadjikistan', 'Tchad', 'Tchéquie',
       'Thaïlande', 'Timor-Leste', 'Togo', 'Tonga', 'Trinité-et-Tobago',
       'Tunisie', 'Turkménistan', 'Turquie', 'Tuvalu', 'Ukraine',
       'Uruguay', 'Vanuatu', 'Viet Nam', 'Zambie', 'Zimbabwe'],
      dtype=object)

In [701]:
PIB_hab['Zone'].nunique()

187

Afficher les pays qui ne figurent pas dans le jeu de données PIB_hab

In [702]:
popu_2017[~popu_2017['Zone'].isin(PIB_hab['Zone'].unique())]['Zone'].unique()

array(['Andorre', 'Anguilla', 'Antilles néerlandaises (ex)', 'Aruba',
       'Bonaire, Saint-Eustache et Saba', 'Chine, continentale',
       'Chine, Taiwan Province de', 'Cuba', 'Curaçao', 'Érythrée',
       'Gibraltar', 'Groenland', 'Guadeloupe', 'Guam', 'Guyane française',
       'Île de Man', 'Îles Anglo-Normandes', 'Îles Caïmanes', 'Îles Cook',
       'Îles Falkland (Malvinas)', 'Îles Féroé', 'Îles Mariannes du Nord',
       'Îles Turques-et-Caïques', 'Îles Vierges américaines',
       'Îles Vierges britanniques', 'Îles Wallis-et-Futuna',
       'Liechtenstein', 'Martinique', 'Mayotte', 'Monaco', 'Montserrat',
       'Nioué', 'Nouvelle-Calédonie', 'Polynésie française',
       'République arabe syrienne',
       'République populaire démocratique de Corée', 'Réunion',
       'Sahara occidental', 'Saint-Barthélemy',
       'Sainte-Hélène, Ascension et Tristan da Cunha', 'Saint-Marin',
       'Saint-Martin (partie française)', 'Saint-Pierre-et-Miquelon',
       'Saint-Siège', 'Samoa américaines',
       'Sint Maarten  (partie néerlandaise)', 'Soudan du Sud', 'Tokélaou',
       'Venezuela (République bolivarienne du)', 'Yémen'], dtype=object)

In [703]:
PIB_hab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            187 non-null    object
 1   Domaine                 187 non-null    object
 2   Code zone (FAO)         187 non-null    int64
 3   Zone                    187 non-null    object
 4   Code Élément            187 non-null    int64
 5   Élément                 187 non-null    object
 6   Code Produit            187 non-null    int64
 7   Produit                 187 non-null    object
 8   Code année              187 non-null    int64
 9   Année                   187 non-null    int64
 10  Unité                   187 non-null    object
 11  Valeur                  187 non-null    float64
 12  Symbole                 187 non-null    object
 13  Description du Symbole  187 non-null    object
 14  Note                    0 non-null      float64
dtypes: float64(2), int64(5), object(8)
memory usage: 22.0+ KB

In [704]:
PIB_hab.describe()

,Code zone (FAO),Code Élément,Code Produit,Code année,Année,Valeur,Note
count,187.000000,187.0,187.0,187.0,187.0,187.000000,0.0
mean,128.631016,6126.0,22013.0,2017.0,2017.0,20770.873262,NaN
std,75.689715,0.0,0.0,0.0,0.0,22042.251121,NaN
min,1.000000,6126.0,22013.0,2017.0,2017.0,773.600000,NaN
25%,64.500000,6126.0,22013.0,2017.0,2017.0,4655.550000,NaN
50%,127.000000,6126.0,22013.0,2017.0,2017.0,12771.000000,NaN
75%,190.000000,6126.0,22013.0,2017.0,2017.0,28863.700000,NaN
max,351.000000,6126.0,22013.0,2017.0,2017.0,126184.000000,NaN

### Nettoyage du fichier

In [705]:
# Sélection des colonnes utiles
PIB_hab =PIB_hab[['Zone', 'Valeur']]
PIB_hab.head()

             Zone   Valeur
0     Afghanistan   2058.4
1  Afrique du Sud  12701.3
2         Albanie  12771.0
3         Algérie  11737.4
4       Allemagne  52952.9

In [706]:
# Renommage des colonnes
PIB_hab = PIB_hab.rename(columns={'Valeur': 'PIB par habitant(USD)'})
PIB_hab.head()

             Zone  PIB par habitant(USD)
0     Afghanistan                 2058.4
1  Afrique du Sud                12701.3
2         Albanie                12771.0
3         Algérie                11737.4
4       Allemagne                52952.9

In [707]:
# Nombre de valeurs manquantes
PIB_hab.isnull().sum()

Zone                     0
PIB par habitant(USD)    0
dtype: int64

In [708]:
# Trouver le nombre des doublons
PIB_hab.duplicated(['Zone']).sum()

0

La dataframe 'PIB_hab' n'a pas de valeurs manquantes ni de doublons.

# Parie 2 - Jointures les 4 dataframes

In [951]:
#Jointure entre 'Population' et 'Disponibilité alimentaire'
df_1= pd.merge(popu_2017, dispo_poulet_17, how='inner', on='Zone')

In [710]:
#Jointure entre 'Population','Disponibilité alimentaire' et 'Stabilité politique'
df_2= pd.merge(df_1, stabilite_17, how='left', on='Zone')

In [711]:
#Jointure entre 'Population','Disponibilité alimentaire', 'Stabilité politique' et 'PIB par habitant'
df_3= pd.merge(df_2, PIB_hab, how='left', on='Zone')

In [952]:
# Supression la colonnes 'Année'
df_final= df_3.drop('Année',axis=1)

In [954]:
# Lecture le dataframe après la jointure
df_final.head()

,Zone,Population,% Popu 2007_2017,Dispo intérieure poulet,Exportations poulet,Importations poulet,Production poulet,Consommation poulet,Taux_import_poulet %,Taux_expot_poulet %,Taux_consom_poulet %,Stabilité politique,PIB par habitant(USD)
0,Afghanistan,36296113,33.931347,5.700000e+07,-1530000.0,29000000.0,2.800000e+07,5.500000e+07,0.64,-0.25,0.42,-2.80,2058.4
1,Afrique du Sud,57009756,16.062776,2.118000e+09,63000000.0,514000000.0,1.667000e+09,2.035000e+09,5.70,0.57,6.41,-0.28,12701.3
2,Albanie,2884169,-4.938335,4.700000e+07,0.0,38000000.0,1.300000e+07,4.700000e+07,4.30,0.00,1.29,0.38,12771.0
3,Algérie,41389189,21.138007,2.770000e+08,0.0,2000000.0,2.750000e+08,2.640000e+08,0.01,0.00,0.80,-0.92,11737.4
4,Allemagne,82658409,1.698592,1.739000e+09,646000000.0,842000000.0,1.514000e+09,1.609000e+09,1.27,1.10,2.06,0.59,52952.9

In [714]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 172 entries, 0 to 171
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Zone                     172 non-null    object
 1   Population               172 non-null    int32
 2   % Popu 2007_2017         171 non-null    float64
 3   Dispo intérieure poulet  170 non-null    float64
 4   Exportations poulet      168 non-null    float64
 5   Importations poulet      170 non-null    float64
 6   Production poulet        168 non-null    float64
 7   Consommation poulet      170 non-null    float64
 8   Taux_import_poulet %     170 non-null    float64
 9   Taux_expot_poulet %      167 non-null    float64
 10  Taux_consom_poulet %     170 non-null    float64
 11  Stabilité politique      169 non-null    float64
 12  PIB par habitant(USD)    164 non-null    float64
dtypes: float64(11), int32(1), object(1)
memory usage: 18.1+ KB

## Valeurs manquantes

In [715]:
df_final.isna().sum()

Zone                       0
Population                 0
% Popu 2007_2017           1
Dispo intérieure poulet    2
Exportations poulet        4
Importations poulet        2
Production poulet          4
Consommation poulet        2
Taux_import_poulet %       2
Taux_expot_poulet %        5
Taux_consom_poulet %       2
Stabilité politique        3
PIB par habitant(USD)      8
dtype: int64

In [716]:
# Créer un dataframe avec les données NAN
donnes_nan = df_final[df_final.isnull().any(axis=1)]

In [717]:
donnes_nan

,Zone,Population,% Popu 2007_2017,Dispo intérieure poulet,Exportations poulet,Importations poulet,Production poulet,Consommation poulet,Taux_import_poulet %,Taux_expot_poulet %,Taux_consom_poulet %,Stabilité politique,PIB par habitant(USD)
6,Antigua-et-Barbuda,95426,13.567229,7.000000e+06,0.0,7000000.0,0.000000e+00,5.000000e+06,9.86,NaN,8.47,0.75,19840.3
33,"Chine, continentale",1421021791,5.574164,1.816100e+10,576000000.0,452000000.0,1.823600e+10,1.751800e+10,0.22,1.43,1.27,NaN,NaN
34,"Chine, Taiwan Province de",23674546,3.259580,7.850000e+08,8000000.0,161000000.0,6.520000e+08,7.850000e+08,1.12,0.48,5.18,0.86,NaN
41,Cuba,11339254,0.783317,3.420000e+08,-25720000.0,312000000.0,2.900000e+07,2.690000e+08,6.81,-2.10,2.81,0.65,NaN
43,Djibouti,944099,17.213710,3.000000e+06,NaN,3000000.0,NaN,3.000000e+06,0.20,NaN,0.74,-0.74,4885.2
98,Maldives,496402,48.104986,1.200000e+07,NaN,12000000.0,NaN,7.000000e+06,4.27,NaN,2.80,0.23,18058.6
115,Nouvelle-Calédonie,277150,13.898352,1.100000e+07,-40710000.0,9000000.0,1.000000e+06,1.100000e+07,6.04,-814.20,7.01,NaN,NaN
119,Ouzbékistan,31959785,17.478862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.24,6518.8
127,Polynésie française,276102,5.093236,1.500000e+07,0.0,15000000.0,1.000000e+06,1.300000e+07,9.55,0.00,6.99,NaN,NaN
132,République démocratique populaire lao,6953035,16.957036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.40,7257.8
134,République populaire démocratique de Corée,25429825,5.132615,4.300000e+07,0.0,0.0,4.300000e+07,4.100000e+07,0.00,0.00,0.33,-0.50,NaN
149,Soudan,40813397,NaN,6.900000e+07,-1600000.0,2000000.0,6.700000e+07,6.500000e+07,0.05,-0.21,0.31,-1.98,4327.8
167,Venezuela (République bolivarienne du),29402484,7.908488,6.260000e+08,0.0,25000000.0,6.000000e+08,5.960000e+08,0.54,0.00,3.80,-1.25,NaN
169,Yémen,27834819,30.787264,2.460000e+08,0.0,78000000.0,1.680000e+08,2.370000e+08,1.27,0.00,2.82,-2.94,NaN

In [718]:
donnes_nan.Zone.count()

14

**Je n'ai trouvé que 14 pays qui ont des données nulles:**
- Je décide de supprimer les pays (Ouzbékistan, République démocratique populaire lao) qui manquent beaucoup de données.
- Pour le 'PIB par habitant', j'ai trouvé des données sur le site de Wikipedia et ld'autres site internet.
- Pour la 'stabilité politique' de la Chine continentale et les données de 'Exportation poulet', je vais les remplacer par 0.
- Pour le '% population 2007_2017', J'ai trouvé sur internet la population de 2007 qui est de 32,360,000, on peut ainsi calculer l'évolution.

In [719]:
df_final.loc[33, 'PIB par habitant(USD)'] = 16624
df_final.loc[34, 'PIB par habitant(USD)'] = 49827
df_final.loc[41, 'PIB par habitant(USD)'] = 8541
df_final.loc[115, 'PIB par habitant(USD)'] = 16341
df_final.loc[127, 'PIB par habitant(USD)'] = 14323
df_final.loc[134, 'PIB par habitant(USD)'] = 685
df_final.loc[167, 'PIB par habitant(USD)'] = 4717
df_final.loc[169, 'PIB par habitant(USD)'] = 963

In [720]:
donnes_nan = df_final[df_final.isnull().any(axis=1)]

In [721]:
donnes_nan

,Zone,Population,% Popu 2007_2017,Dispo intérieure poulet,Exportations poulet,Importations poulet,Production poulet,Consommation poulet,Taux_import_poulet %,Taux_expot_poulet %,Taux_consom_poulet %,Stabilité politique,PIB par habitant(USD)
6,Antigua-et-Barbuda,95426,13.567229,7.000000e+06,0.0,7000000.0,0.000000e+00,5.000000e+06,9.86,NaN,8.47,0.75,19840.3
33,"Chine, continentale",1421021791,5.574164,1.816100e+10,576000000.0,452000000.0,1.823600e+10,1.751800e+10,0.22,1.43,1.27,NaN,16624.0
43,Djibouti,944099,17.213710,3.000000e+06,NaN,3000000.0,NaN,3.000000e+06,0.20,NaN,0.74,-0.74,4885.2
98,Maldives,496402,48.104986,1.200000e+07,NaN,12000000.0,NaN,7.000000e+06,4.27,NaN,2.80,0.23,18058.6
115,Nouvelle-Calédonie,277150,13.898352,1.100000e+07,-40710000.0,9000000.0,1.000000e+06,1.100000e+07,6.04,-814.20,7.01,NaN,16341.0
119,Ouzbékistan,31959785,17.478862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.24,6518.8
127,Polynésie française,276102,5.093236,1.500000e+07,0.0,15000000.0,1.000000e+06,1.300000e+07,9.55,0.00,6.99,NaN,14323.0
132,République démocratique populaire lao,6953035,16.957036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.40,7257.8
149,Soudan,40813397,NaN,6.900000e+07,-1600000.0,2000000.0,6.700000e+07,6.500000e+07,0.05,-0.21,0.31,-1.98,4327.8

In [722]:
# Suprimer 'Ouzbékistan, République démocratique populaire lao'
df_final=df_final.drop(index=([119,132]))

In [723]:
#Calculer '% Popu 2007_2017' de Soudan
df_final.loc[149, '% Popu 2007_2017'] = (40813397 - 32360000)*100/32360000

In [724]:
donnes_nan = df_final[df_final.isnull().any(axis=1)]

In [725]:
donnes_nan

,Zone,Population,% Popu 2007_2017,Dispo intérieure poulet,Exportations poulet,Importations poulet,Production poulet,Consommation poulet,Taux_import_poulet %,Taux_expot_poulet %,Taux_consom_poulet %,Stabilité politique,PIB par habitant(USD)
6,Antigua-et-Barbuda,95426,13.567229,7.000000e+06,0.0,7000000.0,0.000000e+00,5.000000e+06,9.86,NaN,8.47,0.75,19840.3
33,"Chine, continentale",1421021791,5.574164,1.816100e+10,576000000.0,452000000.0,1.823600e+10,1.751800e+10,0.22,1.43,1.27,NaN,16624.0
43,Djibouti,944099,17.213710,3.000000e+06,NaN,3000000.0,NaN,3.000000e+06,0.20,NaN,0.74,-0.74,4885.2
98,Maldives,496402,48.104986,1.200000e+07,NaN,12000000.0,NaN,7.000000e+06,4.27,NaN,2.80,0.23,18058.6
115,Nouvelle-Calédonie,277150,13.898352,1.100000e+07,-40710000.0,9000000.0,1.000000e+06,1.100000e+07,6.04,-814.20,7.01,NaN,16341.0
127,Polynésie française,276102,5.093236,1.500000e+07,0.0,15000000.0,1.000000e+06,1.300000e+07,9.55,0.00,6.99,NaN,14323.0

In [726]:
# Pour le reste des pays à qui il manque les données 'stabilité politique'et 'Exportation poulet', je vais les remplacer par 0.**
df_final=df_final.fillna(0)

# Partie 4 - Dataframe finale

In [950]:
df_final.head()

,Zone,Population,% Popu 2007_2017,Dispo intérieure poulet,Exportations poulet,Importations poulet,Production poulet,Consommation poulet,Taux_import_poulet %,Taux_expot_poulet %,Taux_consom_poulet %,Stabilité politique,PIB par habitant(USD)
0,Afghanistan,36296113,33.931347,5.700000e+07,-1530000.0,29000000.0,2.800000e+07,5.500000e+07,0.64,-0.25,0.42,-2.80,2058.4
1,Afrique du Sud,57009756,16.062776,2.118000e+09,63000000.0,514000000.0,1.667000e+09,2.035000e+09,5.70,0.57,6.41,-0.28,12701.3
2,Albanie,2884169,-4.938335,4.700000e+07,0.0,38000000.0,1.300000e+07,4.700000e+07,4.30,0.00,1.29,0.38,12771.0
3,Algérie,41389189,21.138007,2.770000e+08,0.0,2000000.0,2.750000e+08,2.640000e+08,0.01,0.00,0.80,-0.92,11737.4
4,Allemagne,82658409,1.698592,1.739000e+09,646000000.0,842000000.0,1.514000e+09,1.609000e+09,1.27,1.10,2.06,0.59,52952.9

In [728]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170 entries, 0 to 171
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Zone                     170 non-null    object
 1   Population               170 non-null    int32
 2   % Popu 2007_2017         170 non-null    float64
 3   Dispo intérieure poulet  170 non-null    float64
 4   Exportations poulet      170 non-null    float64
 5   Importations poulet      170 non-null    float64
 6   Production poulet        170 non-null    float64
 7   Consommation poulet      170 non-null    float64
 8   Taux_import_poulet %     170 non-null    float64
 9   Taux_expot_poulet %      170 non-null    float64
 10  Taux_consom_poulet %     170 non-null    float64
 11  Stabilité politique      170 non-null    float64
 12  PIB par habitant(USD)    170 non-null    float64
dtypes: float64(11), int32(1), object(1)
memory usage: 22.0+ KB

In [729]:
df_final.describe()

,Population,% Popu 2007_2017,Dispo intérieure poulet,Exportations poulet,Importations poulet,Production poulet,Consommation poulet,Taux_import_poulet %,Taux_expot_poulet %,Taux_consom_poulet %,Stabilité politique,PIB par habitant(USD)
count,1.700000e+02,170.000000,1.700000e+02,1.700000e+02,1.700000e+02,1.700000e+02,1.700000e+02,170.000000,170.000000,170.000000,170.000000,170.000000
mean,4.311688e+07,15.522423,6.875941e+08,1.033206e+08,8.952941e+07,7.166588e+08,6.570471e+08,2.480706,-12.078059,2.983176,-0.064471,20098.985882
std,1.539395e+08,14.795397,2.187185e+09,4.611239e+08,1.866700e+08,2.487848e+09,2.136546e+09,3.692378,81.704320,2.499200,0.896942,20614.699098
min,5.204500e+04,-12.690044,2.000000e+06,-7.031000e+07,0.000000e+00,0.000000e+00,2.000000e+06,0.000000,-814.200000,0.040000,-2.940000,685.000000
25%,2.855103e+06,4.798652,3.050000e+07,0.000000e+00,3.000000e+06,1.300000e+07,2.850000e+07,0.242500,0.000000,1.172500,-0.627500,4762.625000
50%,9.757833e+06,12.711932,1.000000e+08,1.000000e+06,1.600000e+07,6.800000e+07,9.950000e+07,1.090000,0.020000,2.215000,0.000000,13100.150000
75%,2.971320e+07,25.504325,3.682500e+08,1.635250e+07,8.125000e+07,3.842500e+08,3.652500e+08,3.147500,0.590000,4.182500,0.650000,28648.750000
max,1.421022e+09,75.598440,1.826600e+10,4.223000e+09,1.069000e+09,2.191400e+10,1.810000e+10,24.290000,162.670000,13.040000,1.590000,126184.000000

**CONCLUSION**  

- Pour cette première étape d'importation et de nettoyage des données, j’ai choisi des variables comme 'la population, la disponibilité intérieure, la production et la consommation du poulet, l’importation/l’exportation du poulet'.   

- J’ai aussi calculé le poucentage d’importation/exportation des poulets par rapport à l’importation totale et le pourcentage de la consommation des poulets.

- En plus, avec les critères de l’analyse PESTEL, j’ai téléchargé encore 2 variables (la 'stabilité politique' et le 'PIB par habitant') depuis le site FAO, , qui pourraient être des facteurs importants qui influencent un pays par rapport à l’importation et la consommation des poulets.

**- Exportation des données**

In [731]:
df_final.to_csv('D:/Open_work/P9/doc_origine/DAN-P9-data/df_final.csv', index=False)